{% extends 'layouts/base.twig' %}

{% set curPageId = '404' %}

{% block title %}Страница не найдена{% endblock %}

{% block body %}
		<div class="error-page">
			<div class="container">
				<div class="error-page__holder">
					<div class="error-page__num">
						404
					</div>
					<div class="error-page__text">
						<h1 class="h2">Страница не найдена!</h1>
						<p>Страница, на которую вы пытаетесь попасть, не существует или была удалена.</p>
						<p>
							Перейдите на 
							<a href="index.html">главную страницу!</a>
						</p>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}