{% extends 'layouts/base.twig' %}

{% set curPageId = 'articles' %}

{% block title %}Статьи{% endblock %}

{% block body %}
		<div class="articles">
			<div class="container">
				<ul class="breadcrumbs">
					<li><a href="index.html">Главная</a></li>
					<li class="active"><span>Статьи</span></li>
				</ul>
				<h1 class="h1 uppercase" data-reveal>Статьи</h1>
				<div class="articles-list">
					<div class="article" data-reveal data-reveal-delay="100">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/1.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Продажа материалов ВСП по всей России</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="300">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/2.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Строительство, ремонт и демонтаж ЖД-путей
									в “ЛогИнновации”</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="400">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/3.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Продажа материалов ВСП по всей России</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="500">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/4.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Строительство, ремонт и демонтаж ЖД-путей
									в “ЛогИнновации”</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="100">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/1.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Продажа материалов ВСП по всей России</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="300">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/2.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Строительство, ремонт и демонтаж ЖД-путей
									в “ЛогИнновации”</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="400">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/3.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Продажа материалов ВСП по всей России</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="500">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/4.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Строительство, ремонт и демонтаж ЖД-путей
									в “ЛогИнновации”</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="100">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/1.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Продажа материалов ВСП по всей России</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="300">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/2.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Строительство, ремонт и демонтаж ЖД-путей
									в “ЛогИнновации”</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="400">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/3.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Продажа материалов ВСП по всей России</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="500">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/4.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Строительство, ремонт и демонтаж ЖД-путей
									в “ЛогИнновации”</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="100">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/1.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Продажа материалов ВСП по всей России</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="300">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/2.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Строительство, ремонт и демонтаж ЖД-путей
									в “ЛогИнновации”</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="400">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/3.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Продажа материалов ВСП по всей России</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
					<div class="article" data-reveal data-reveal-delay="500">
						<a href="page.html">
							<div class="article__image lazyload" data-bg="assets/images/articles/4.jpg" >
								<span class="article__date">01.08.2021</span>
							</div>
							<div class="article__content">
								<div class="article__name">Строительство, ремонт и демонтаж ЖД-путей
									в “ЛогИнновации”</div>
								<div class="article__text">В нашем ассортименте вы сможете найти более 200 товаров по разным позициям
									в нашем каталоге. В нашем ассортименте вы сможете найти более 200 товаров.</div>
							</div>
						</a>
					</div>
				</div>
				<div class="articles__btn">
					<a href="#" class="btn btn-light">Загрузить еще</a>
				</div>
			</div>
		</div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/stylesheets/articles.min.css" />
{% endblock %}