{% extends 'layouts/base.twig' %}

{% set curPageId = 'goods' %}

{% block title %}Накладки{% endblock %}

{% block body %}
		<div class="goods">
			<div class="container">
				<ul class="breadcrumbs">
					<li><a href="index.html">Главная</a></li>
					<li><a href="products.html">Продукция</a></li>
					<li class="active"><a href="goods.html">Накладки</a></li>
				</ul>
				<h1 class="h1 uppercase" data-reveal>Накладки</h1>
				<div class="goods__list">
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__captions">
								<span>Новинка</span>
								<span>Скидка 10%</span>
							</div>
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__captions"><span>Скидка 10%</span></div>
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__request">По запросу</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__captions"><span>Скидка 10%</span></div>
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__captions"><span>Скидка 10%</span></div>
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__request">По запросу</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__captions"><span>Новинка</span></div>
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__captions"><span>Скидка 10%</span></div>
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__request">По запросу</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__captions"><span>Новинка</span></div>
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__captions"><span>Скидка 10%</span></div>
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__price h5">90 000 р.</div>
						</a>
					</div>
					<div class="goods-item" data-reveal>
						<a href="card.html">
							<div class="goods-item__img">
								<img src="assets/images/goods/1.png" alt="Накладка 1Р65">
							</div>
							<div class="goods-item__name h6">Накладка 1Р65 новая</div>
							<div class="goods-item__request">По запросу</div>
						</a>
					</div>
				</div>
				<div class="goods__btn" data-reveal>
					<a href="#" class="btn btn-light">Загрузить еще</a>
				</div>
			</div>
		</div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/stylesheets/goods.min.css" />
{% endblock %}