{% extends 'layouts/base.twig' %}

{% set curPageId = 'articles' %}

{% block title %}Статья{% endblock %}

{% block body %}
	<div class="container">
		<ul class="breadcrumbs">
			<li><a href="index.html">Главная</a></li>
			<li class="active"><a href="page.html">Статья</a></li>
		</ul>
		<h1 class="h1 uppercase">текстовый шаблон h1</h1>
		<div class="imaged-text">
			<img src="assets/images/articles/3.jpg" alt="Статья" class="mb-3">
			<div class="imaged-text__content">
				<p class="h5">Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог. Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже дорог</p>
				<p>Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог. А также мы не первый год занимаемся поставкой материалов ВСП по всей России, где наш опыт и наработки в полной мере удовлетворяют потребности даже самого изыскательного партнера.</p>
			</div>
		</div>
		<h2 class="h2 uppercase">почему именно мы h2</h2>
		<p>Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог. А также мы не первый год занимаемся поставкой материалов ВСП по всей России, где наш опыт и наработки в полной мере удовлетворяют потребности даже самого изыскательного партнера.</p>
		<ul class="styled-list">
			<li>
				Приемлемые цены
			</li>
			<li>
				Широкий ассортимент
			</li>
			<li>
				Профессионализм
			</li>
		</ul>
		<h3 class="h3 uppercase">наши преимущества h3</h3>
		<p class="mb-3">Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог. А также мы не первый год занимаемся поставкой материалов ВСП по всей России, где наш опыт и наработки в полной мере удовлетворяют потребности даже самого изыскательного партнера.</p>
		<ol class="styled-list">
			<li>
				Приемлемые цены
			</li>
			<li>
				Широкий ассортимент
			</li>
			<li>
				Профессионализм
			</li>
		</ol>
		<h4 class="h4 uppercase">О компании h4</h4>
		<div class="imaged-text imaged-text_left">
			<div class="imaged-text__content">
				<p class="h5 mb-3">Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог. Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже дорог</p>
				<p class="mb-3">Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог. А также мы не первый год занимаемся поставкой материалов ВСП по всей России, где наш опыт и наработки в полной мере удовлетворяют потребности даже самого изыскательного партнера. Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог. А также мы не первый год занимаемся поставкой материалов ВСП по всей России, где наш опыт и наработки в полной мере удовлетворяют потребности даже самого изыскательного партнера.</p>
				<p class="mb-3">
					Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог. А также мы не первый год занимаемся поставкой материалов ВСП по всей России, где наш опыт и наработки в полной мере удовлетворяют потребности даже самого изыскательного партнера.</p>
			</div>
			<div>
				<a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox  class="video-item">
					<div class="video-item__img">
						<img src="assets/images/articles/3.jpg" alt="">
					</div>
					<div class="video-item__content">
						<div class="video-item__name">Как правильно выбирать 
							материалы ВСП</div>
						<div class="video-item__caption">05:32</div>
					</div>
				</a>
			</div>
			
		</div>
		<h5 class="h5 uppercase">почему именно мы h5</h5>
		<p class="mb-3">
			Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог. А также мы не первый год занимаемся поставкой материалов ВСП по всей России, где наш опыт и наработки в полной мере удовлетворяют потребности даже самого изыскательного партнера.</p>
			<div class="table">
				<table>
					<thead>
						<tr>
							<th>Наименование</th>
							<th>Товар</th>
							<th>Наименование</th>
							<th>Товар</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Наименование</td>
							<td>Товар</td>
							<td>Наименование</td>
							<td>Товар</td>
						</tr>
						<tr>
							<td>Наименование</td>
							<td>Товар</td>
							<td>Наименование</td>
							<td>Товар</td>
						</tr>
						<tr>
							<td>Наименование</td>
							<td>Товар</td>
							<td>Наименование</td>
							<td>Товар</td>
						</tr>
						<tr>
							<td>Наименование</td>
							<td>Товар</td>
							<td>Наименование</td>
							<td>Товар</td>
						</tr>
					</tbody>
				</table>
			</div>
		<h6 class="h6 uppercase">О компании h6</h6>
		<p class="mb-3">
			Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог. А также мы не первый год занимаемся поставкой материалов ВСП по всей России, где наш опыт и наработки в полной мере удовлетворяют потребности даже самого изыскательного партнера.</p>
	</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}