<section class="landing-about" data-reveal-group>
	<div class="container">
		<div class="landing-about__holder">
			<h2 class="h3 uppercase" data-reveal data-reveal-delay="100">О компании</h2>
			<div class="landing-about__content">
				<div class="landing-about__info h5" data-reveal data-reveal-delay="200">
					Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог
				</div>
				<div class="landing-about__description" data-reveal data-reveal-delay="300">
					Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве, ремонте и демонтаже ЖД дорог. А также мы не первый год занимаемся поставкой материалов ВСП по всей России, где наш опыт и наработки в полной мере удовлетворяют потребности даже самого изыскательного партнера.
				</div>
			</div>
			<a href="#" class="btn btn-rounded" data-reveal data-reveal-delay="400"><span>&nbsp;</span></a>
		</div>
	</div>
</section>