{% from '../../macros/icon.twig' import icon %}

<div class="container">
	<div class="advantages">
		<h2 class="h2"><span>Наши преимущества</span></h2>
		<ul>
			<li>
				<span>
					{{ icon('shield-cross-line' , {'width': 29, 'height': 29}) }}
				</span>
				<h3 class="h3">Гарантии на все услуги</h3>
				<p>Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве</p>
			</li>
			<li>
				<span>
					{{ icon('award-line' , {'width': 28, 'height': 28}) }}
				</span>
				<h3 class="h3">лицензии и сертификаты</h3>
				<p>Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве</p>
			</li>
			<li>
				<span>
					{{ icon('customer-service-line' , {'width': 27, 'height': 27}) }}
				</span>
				<h3 class="h3">Профессионализм</h3>
				<p>Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве</p>
			</li>
		</ul>
	</div>
</div>
