<div class="partners">
	<div class="container">
		<div class="partners-slider slider" data-plugin="partnersSlider">
			<div class="partners__head">
				<h2 class="h2"><span>Наши партнеры</span></h2>
				<div class="partners-slider__control">
					<div class="slider__counter"></div>
					<div class="slider__nav"></div>
				</div>
			</div>
			<div class="slider__holder">
				<div>
					<div class="partners-slider__item">
						<img src="assets/images/partners/1.png" alt="ПЭК">
					</div>
				</div>
				<div>
					<div class="partners-slider__item">
						<img src="assets/images/partners/2.png" alt="РДЖ">
					</div>
				</div>
				<div>
					<div class="partners-slider__item">
						<img src="assets/images/partners/3.png" alt="DHL">
					</div>
				</div>
				<div>
					<div class="partners-slider__item">
						<img src="assets/images/partners/4.png" alt="FedEx">
					</div>
				</div>
				<div>
					<div class="partners-slider__item">
						<img src="assets/images/partners/2.png" alt="РДЖ">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>