<div class="landing-products">
	<div class="container">
		<h2 class="h2"><span>Продукция ЛогИнновации</span></h2>
		<div class="landing-products__list">
			<div class="landing-products__item landing-products__item--turnout">
				<a href="#">
					<h3>Стрелочные переводы</h3>
					<div class="landing-products__turnout-image">
						<img src="assets/images/products/landing/1.png" alt="Стрелочные переводы">
					</div>
				</a>
			</div>
			<div class="landing-products__item landing-products__item--strap">
				<a href="#">
					<h3>Накладки</h3>
					<p class="landing-products__text">
						Наша компания уже давно зарекомендовала себя на рынке как надежный партнер в строительстве
					</p>
					<div class="landing-products__strap-image">
						<img src="assets/images/products/landing/2.png" alt="Накладки">
					</div>
				</a>
			</div>
			<div class="landing-products__item">
				<a href="#">
					<div class="landing-products__image">
						<img src="assets/images/products/landing/3.png" alt="Крепежные элементы">
					</div>
					<h3>Крепежные элементы</h3>
				</a>
			</div>
			<div class="landing-products__item">
				<a href="#">
					<div class="landing-products__image">
						<img src="assets/images/products/landing/4.png" alt="Прокладки">
					</div>
					<h3>Прокладки</h3>
				</a>
			</div>
			<div class="landing-products__item">
				<a href="#">
					<div class="landing-products__image">
						<img src="assets/images/products/landing/5.png" alt="Шпалы железобетонные">
					</div>
					<h3>Шпалы железобетонные</h3>
				</a>
			</div>
			<div class="landing-products__item">
				<a href="#">
					<div class="landing-products__image">
						<img src="assets/images/products/landing/6.png" alt="Подкладки">
					</div>
					<h3>Подкладки</h3>
				</a>
			</div>
		</div>
		<a href="#" class="btn landing-products__more"><span>+</span>Все категории</a>
	</div>
</div>