<div class="outer-container">
	<div class="request">
		<div class="container">
			<div class="request__holder">
				<div class="request__info">
					<h2 class="h3 uppercase">Оставьте заявку</h2>
					<p>и мы свяжемся с Вами в самое ближайшее время для уточнения деталей</p>
				</div>
				<div class="request__btn">
					<a href="#" class="btn btn-light">Оставить заявку</a>
				</div>
			</div>
		</div>
	</div>
</div>
