@import "imports";

@import "components/documents";

.about {

	.h1 {
		margin-bottom: 30px;
		@include media-breakpoint-up(md) {
			margin-bottom: 50px;
		}
	}

	.h2 {
		margin-bottom: 95px;
	}

	.h4 {
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 30px;
	}

	.h5 {
		margin-bottom: 0;
	}

	&__info {
		margin-bottom: 95px;
	}

	&__text {
		margin-bottom: 30px;
	}
}