* {
		&,
		&:after,
		&:before {
				box-sizing: border-box;
		}
}

:root {
		--viewport-height: 100vh;
		--viewport-height-actual: 100vh;
}

html {
		height: 100%;
		-webkit-overflow-scrolling: touch;
		//scroll-behavior: smooth;
		font-size: 62.5%; // 1rem === 10px
}
body {
		min-height: 100vh;
		min-height: var(--viewport-height);
		margin: 0;
		position: relative;
		font-family: "Manrope", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1.6rem;
		line-height: 30 / 16 * 1em;
		font-weight: normal;
		fill: currentColor;
		color: $main-text-color;

		&.fixed {
				overflow-y: hidden;
		}
}

svg {
		color: #6fa2b2;
		fill: currentColor;
}

h1,
h2,
p {
		margin: 0;
}

.h1,
.h2,
.h3, 
.h4,
.h5,
.h6 {
	&.uppercase {
		text-transform: uppercase;
	}

	span {
		display: flex;

		&:after {
			content: '';
			margin-left: 40px;
			margin-top: 40 / 26 * 1em / 2;
			border-top: 1px solid #e1efef;
			flex: 1;
		}
	}
}

.h1 {
		font-family: "DrukWide", sans-serif;
		font-weight: 500;
		font-size: 3.0rem;
		line-height: 40 / 30 * 1em;
		margin-bottom: 80px;

		@include media-breakpoint-up(md) {
			font-size: 4.0rem;
			line-height: 50 / 40 * 1em;
			margin-bottom: 110px;
		}
}

.h2 {
	font-family: "DrukWide", sans-serif;
	font-weight: 500;
	font-size: 2.8rem;
	line-height: 34 / 28 * 1em;
	margin-bottom: 20px;

	@include media-breakpoint-up(md) {
		font-size: 3.6rem;
		line-height: 44 / 36 * 1em;
	}
}

.h3 {
	font-family: "DrukWide", sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 30 / 20 * 1em;
	margin-bottom: 20px;

	@include media-breakpoint-up(md) {
			font-size: 2.6rem;
			line-height: 40 / 26 * 1em;
	}
}

.h4 {
	font-family: "DrukWide", sans-serif;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 26 / 24 * 1em;
	margin-bottom: 20px;
}

.h5 {
	font-family: "DrukWide", sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 20 / 15 * 1em;
	margin-bottom: 20px;

	@include media-breakpoint-up(md) {
		font-size: 1.8rem;
		line-height: 30 / 18 * 1em;
	}
}

.h6 {
	font-family: "DrukWide", sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 19 / 15 * 1em;
	margin-bottom: 20px;
}

picture {
		display: block;
}

img {
		user-select: none;
		vertical-align: top;
}

img[draggable="false"] {
		pointer-events: none;
		-webkit-user-drag: none;
}

.btn {
		font-size: 1.3rem;
		line-height: 20 / 13 * 1em;
		padding: 17px 32px;
		text-decoration: none;
		font-weight: 600;
		transition: all .3s ease-in-out;
		border-radius: 7px;
		display: inline-block;
		vertical-align: top;
		color: $main-text-color;

		&-light {
				border: 2px solid #e5eaec;
				color: $light-text-color;

				&:hover {
						border-color: #809da7;
						background-color: #809da7;
						color: #fff;
				}
		}

		&-rounded {
				padding: 0;
				border-radius: 50%;
				border: 2px solid #e5eaec;
				width: 64px;
				height: 64px;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;

				span {
						height: 2px;
						width: 16px;
						background-color: $main-text-color;
						position: relative;
						transition: background-color .3s ease-in-out;

						&:before {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								right: -3px;
								bottom: 0;
								margin: auto;
								width: 12px;
								height: 12px;
								border-top: 2px solid;
								border-right: 2px solid;
								transform: rotate(45deg);
						}
				}

				&:hover {
						border-color: #809da7;
						background-color: #809da7;
						color: #fff;

						span {
								background-color: #fff;
						}
				}
		}
}

.outer-container {
		@include make-max-widths-container-width();
		margin: 0 auto;
		display: block;
		padding-left: 25px;
		padding-right: 25px;
		width: 100%;
}

.container {
		@extend .outer-container;
		@include media-breakpoint-up(xxl) {
				max-width: 1610px;
		}
}

.outer-container .container {
		@include media-breakpoint-down(xxl) {
				padding-left: 50px;
				padding-right: 50px;
		}
		@include media-breakpoint-down(sm) {
				padding-left: 30px;
				padding-right: 30px;
		}
}

.page-content-wrapper {
		min-width: 320px;
		overflow: hidden;
}

.page-content {
		min-height: 100vh;
		min-height: var(--viewport-height);
		padding-top: 100px; // header height
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: transform .5s ease-in-out;
		background-color: #fff;
}

.schedule,
.address {
		font-size: 1.3rem;
		line-height: 20 / 13 * 1em;
		color: #606a6d;
		display: flex;

		.icon {
				margin-top: 2px;
		}

		span {
				width: 35px;
		}
}

.schedule {
		b {
				color: #324349;
				margin-right: 13px;
		}
}

.mail {
		display: flex;
		align-items: center;

		span {
				width: 35px;
				display: flex;
				align-items: center;
		}

		a {
				color: #606a6d;
				font-size: 1.3rem;
				text-decoration: none;
				border-bottom: 1px solid #e1e3e4;
				line-height: 1;
		}
}

.phone {
		line-height: 1;
		display: flex;
		align-items: center;

		a {
				font-weight: bold;
				font-size: 1.5rem;
				color: #324349;
				text-decoration: none;
		}

		.icon {
				margin-bottom: -3px;
		}

		span {
				width: 35px;
		}
}

.dropdown {
		span {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.dropdown-trigger {
						width: 30px;
						height: 30px;
						position: relative;
						text-decoration: none;
						padding: 0;
						cursor: pointer;
						border-bottom: none;

						&:before {
								content: '';
								border: 7px solid transparent;
								border-top-color: $main-text-color;
								position: absolute;
								right: 0;
								top: 12px;
								left: 0;
								margin: 0 auto;
								width: 0;
								height: 0;
						}

						&.droped:before {
								transform: rotate(180deg);
								top: 4px;
						}
				}
		}
}

.inner-page {
	background-color: #fafafa;
	padding: 55px 0 135px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: -100px;
		left: 0;
		right: 0;
		background-color: #fafafa;
		height: 100px;
	}
}

.breadcrumbs {
	list-style: none;
	padding-left: 0;
	margin: 0 0 30px;
	display: flex;
	flex-wrap: wrap;

	li {
		&:after {
			content: '/';
			margin: 0 10px;
			font-size: 1.4rem;
			line-height: 20 / 14 * 1em;
			color: $light-text-color;
		}

		&:last-of-type:after {
			display: none;
		}

		a {
			font-size: 1.4rem;
			line-height: 20 / 14 * 1em;
			color: $light-text-color;
			text-decoration: none;
		}

		&.active a {
			pointer-events: none;
		}
	}
}
