@font-face {
    $path-font-face: '../fonts/DrukWide/DrukWideCyr-Medium';
    font-family: 'DrukWide';
    src: local('DrukWide'), url('#{$path-font-face}.woff') format('woff'), url('#{$path-font-face}.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    $path-font-face: '../fonts/Manrope/Manrope-Regular';
    font-family: 'Manrope';
    src: local('Manrope'), url('#{$path-font-face}.woff') format('woff'), url('#{$path-font-face}.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    $path-font-face: '../fonts/Manrope/Manrope-Medium';
    font-family: 'Manrope';
    src: local('Manrope'), url('#{$path-font-face}.woff') format('woff'), url('#{$path-font-face}.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    $path-font-face: '../fonts/Manrope/Manrope-SemiBold';
    font-family: 'Manrope';
    src: local('Manrope'), url('#{$path-font-face}.woff') format('woff'), url('#{$path-font-face}.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    $path-font-face: '../fonts/Manrope/Manrope-Bold';
    font-family: 'Manrope';
    src: local('Manrope'), url('#{$path-font-face}.woff') format('woff'), url('#{$path-font-face}.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

