.header {
	z-index: 999;
	background-color: #fff;

	&__holder {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
		height: 100px;
	}

	&__logo {
		padding-right: 20px;
		text-decoration: none;
		display: flex;
		align-items: center;

		img {
			width: 29px;
			margin-right: 20px;

			@include media-breakpoint-up(md) {
				margin-right: 0;
			}
		}

		span {
			display: block;
			font-family: 'DrukWide', sans-serif;
			font-size: 1.2rem;
			line-height: 18 / 12 * 1em;
			color: #324349;

			@include media-breakpoint-up(sm) {
				font-size: 1.5rem;
				line-height: 22 / 15 * 1em;
			}

			@include media-breakpoint-up(md) {
				display: none;
			}
		}
	}

	&__request {
		display: none;

		@include media-breakpoint-up(lg) {
			display: block;
		}

		.btn {
			@include media-breakpoint-down(lg) {
				padding: 10px 15px;
			}
		}
	}
	
	.schedule,
	.address {
		display: none;
		
		@include media-breakpoint-up(xxl) {
			display: flex;
		}
	}

	&__contacts {
		padding-left: 20px;
		display: none;

		@include media-breakpoint-up(lg) {
			display: block;
		}

		@include media-breakpoint-up(xl) {
			padding-left: 40px;
		}

		@include media-breakpoint-up(xxl) {
			padding-left: 0;
		}

		@include media-breakpoint-up(xxxl) {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
		}
	}

	.mail {
		margin-bottom: 5px;

		@include media-breakpoint-up(xxxl) {
			margin-bottom: 0;
		}
	}

	.phone {
		width: 100%;

		@include media-breakpoint-up(xxxl) {
			width: auto;
			margin-left: 40px;
		}
	}
}

.header_sticky {
	transition: all .4s ease-in-out;
	will-change: transform;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.header_sticky.sticky {
	opacity: 0;
	transform: translateY(-70%);
}

.header_sticky.active {
	transition: all .4s ease-in-out;
	opacity: 1;
	transform: none;
	background-color: #fff;
	box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, .2);
}

.main-nav {
	flex: 1;
	display: none;
	max-width: 720px;
	justify-self: flex-start;
	//margin-left: -30px;

	@include media-breakpoint-up(md) {
		display: block;
	}

	@include media-breakpoint-up(lg) {
		margin-left: -20px;
	}

	@include media-breakpoint-up(xxl) {
		margin-left: -50px;
	}

	@include media-breakpoint-up(xxxl) {
		margin-left: -70px;
		margin-right: -35px;
	}

	& > ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
		padding-left: 0;
		margin: 0;

		& > li {
			position: relative;
			background-color: rgba(255, 255, 255, 0);
			transition: background-color .3s ease-in-out;
			line-height: 1;

			&.has-children {
				padding-right: 17px;
				cursor: pointer;

				@include media-breakpoint-up(lg) {
					&:before {
						content: '';
						border-right: 2px solid $main-text-color;
						border-bottom: 2px solid $main-text-color;
						width: 6px;
						height: 6px;
						position: absolute;
						transform: rotate(45deg);
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto 0;
					}
				}
			}

			& > a,
			& > span {
				text-decoration: none;
				color: $main-text-color;
				white-space: nowrap;
				font-size: 1.4rem;
				line-height: 20 / 14 * 1em;
				display: inline-block;
				vertical-align: top;
				font-weight: 600;

				&:hover {
					font-weight: 700;
					margin: 0 -1px;
				}
			}

			&.active {
				pointer-events: none;
				& > a {
					font-weight: 700;
				}
			} 

			&:hover .sub-nav {
				@include media-breakpoint-up(lg) {
					opacity: 1;
					transform: scaleY(1);
				}
			}
		}
	}

	.sub-nav {
		position: absolute;
		top: 100%;
		text-align: left;
		background-color: rgba(255, 255, 255, 1);
		opacity: 0;
		// overflow: hidden;
		transition: transform .3s ease-in-out, opacity .5s ease-in-out;
		transform: scaleY(0);
		transform-origin:  top;
		

		ul {
			padding: 15px 0;
			margin-top: 41px;
			box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);

			li {
				display: block;
				min-width: 200px;

				a {
					color: $main-text-color;
					font-size: 1.4rem;
					line-height: 20 / 13 * 1em;
					text-decoration: none;
					padding: 10px 25px 10px 15px;
					display: block;
					background-color: rgba(0, 0, 0, 0);
					transition: all .3s ease-in-out;

					&:hover {
						background-color: rgba(0, 0, 0, .3);
						color: #fff;
					}
				}
			}
		}
	}
}

.ham-trigger {
	position: relative;
	width: 30px;
	height: 25px;
	margin-left: 20px;
	text-decoration: none;

	@include media-breakpoint-up(lg) {
		display: none;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		transition: all .4s;
		top: 0;
		left: 0;
		bottom: 0;
		margin: auto 0;
	}

	&:before {
		border-top: 3px solid $main-text-color;
		border-bottom: 3px solid $main-text-color;
		border-radius: 3px;
	}

	&:after {
		height: 3px;
		background: $main-text-color;
		border-radius: 3px;
	}

	&.active {
		&:before { 
			transform: rotate(45deg);
			border-bottom: none;
			height: 3px;
		}

		&:after {
			transform: rotate(-45deg);
		}		
	}
}
