@import "~@fancyapps/ui/src/Fancybox/fancybox";

.fancybox__slide {
	padding-left: 10px;
	padding-right: 10px;
}

.fancybox__content {
	padding-left: 20px;
	padding-right: 20px;
}

.fancybox__content>.carousel__button.is-close {
	right: 30px;
	left: auto;
	top: 5px;
	width: auto;
	svg {
			color: #000;
	}
}

.fancybox__carousel {
	max-width: 800px;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	
	.fancybox__content {
			width: 100%;
	}
}